#shell {
   margin: auto;
   height: 100%;
   width: 70%;
}

body {
    background-image: url("img/body-bg.gif");
}

/*
.cl {
display: flex;
border-top: 1px dashed #bbb;
}
*/

#header .social {
    position: absolute;
    left: 1050px;
    margin-top: 0px;
    float: right;
}

#shell #header .social span {
    color: #BEBEBE;
    text-decoration: none;
    font-size: 10px;
}

#shell #header .social:after {
    text-decoration:none;
    content: url("img/social.gif");
}

#shell #header .social li {
    display: none;
}



#shell #header #logo a {
    color: orange;
}

#shell #header #logo {
    font-size: 23px;
    float: left;
    width: 175px;
    display: inline-block;
    margin-top: 80px;
}



#navigation {
    float: right;
    width: auto;
    margin-top: 80px;
}

#navigation li {
    display: inline-block;
}

#navigation .active {
    color: red;
}

#navigation li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding:12px;
}



#shell #header #sub-navigation {
}

#sub-navigation li {
    display: inline-block;
    float: left;
    width: auto;
}

#sub-navigation li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

#shell #header #sub-navigation #search {
    display: inline;
    color: white;
    font-weight: bold;
    float: right;

}

#shell #header #sub-navigation #search input.search-button {
    color: white;
    background: none;
    border: none;
    font-weight: bold;
}

#shell #header #sub-navigation #search input.search-field.blink.search-field {
    color: gray;
    background: black;
}



#main {
    display: block;
    clear: both;
}

#main #content .box .head h2 {
    color: orange;
    font-size: 12px;
    text-transform: uppercase;
}

#main #content .box .head h2, .text-right {
    display:inline;
}

#main #content .box .head .text-right a {
    float:right;
    color: orange;
    font-size: 12px;
}

#shell #main #content .box .movie .rating p, .comments {
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    display: inline;
}

#shell #main #content .box .movie .rating .stars .stars-in {
    content: url("img/stars.gif");
}

#shell #main #content .box .movie .movie-image .play .name {
    display:none;
}

#shell #main #content .box .movie {
    display: inline-block;
}

#shell #main #content .box .movie .movie-image a img{
    width: 150px;
}



#news {
    display: block;
    width: 50%;
    float: left;
    height: auto;
}

#news .head h3 {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

#news .text-right a {
    color: orange;
    float: right;
}

#news a {
    color: orange;
    font-size: 10px;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
}

#news .content h4 {
    color: orange;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
}

#news .content .date {
    color: white;
    font-size: 10px;
}

#news .content {
    color: white;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
}



#coming {
    display: block;
    width: 50%;
    float: right;
    height: auto;
}

#coming .head h3 {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
}

#coming .text-right a {
    color: orange;
    font-size: 10px;
    float: right;
}

#coming a {
    color: orange;
}

#coming .content h4 {
    color: orange;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
}

#coming .content {
    color: white;
}

#coming .content img {
    float: left;
    padding: 8px;
}



#footer {
    clear: both;
    position: relative;
    height: 50px;
    margin-top: -200px;
}

#footer .lf {
    width: 50%;
    float: left;
    text-align: left;
    color: #BEBEBE;
    font-size: 10px;
}

#footer .lf a {
    color: #BEBEBE;
    text-decoration: none;
    font-size: 10px;
}

#footer .rf {
    width: 50%;
    float: right;
    text-align: right;
    color: #BEBEBE;
    font-size: 10px;
}

#footer .rf a {
    color: #BEBEBE;
    text-decoration: none;
    font-size: 10px;
}


